
body{
  background-color:#888;
  font-family: Arial, Helvetica, sans-serif;
}
#container{
  width:1050px;
  overflow:auto;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

#boxbox{
  width: 960px;
  padding:10px 10px 10px 10px;
  background-color: #ddd;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px 15px 0px 0px;

}
.box{
  display:inline-block;
  width:20px;
  height:20px;
  padding: 0px;
  margin: 0px 2px 0px 2px;
}

.pinkbox{
  background-color: pink;
}
.redbox{
  background-color: red;
}
.brownbox{
  background-color: brown;
}
.burlybox{
  background-color: burlywood;
}
.orangebox{
  background-color: orange;
}
.khakibox{
  background-color: khaki;
}
.yellowbox{
  background-color: yellow;
}
.mediumgreenbox{
  background-color: MediumSpringGreen;
}
.greenbox{
  background-color: green;
}
.deepbluebox{
  background-color:deepskyblue;
}
.bluebox{
  background-color:blue;
}
.mediumpurplebox{
  background-color: mediumpurple;
}
.purplebox{
  background-color: purple;
}
.blackbox{
  background-color: black;
}
.greybox{
  background-color: grey;
}
.whitebox{
  background-color:white;
}


#colorcolor{
  width: 960px;
  padding:10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  background-color:#ddd;
  border-radius: 0 0 15px 15px;
  text-align: center;
}

.colors{
  display:inline-block;
  width:40px;
  height:40px;
  padding: 0px;
  margin: 0px;
  border-radius: 20px;

}
#pinkcolor{
  background-color:pink;
}
#redcolor{
  background-color:red;
}
#browncolor{
  background-color:brown;
}
#burlycolor{
  background-color:BurlyWood;
}
#orangecolor{
  background-color:orange;
}
#khakicolor{
  background-color:khaki;
}
#yellowcolor{
  background-color:yellow;
}
#mediumgreencolor{
  background-color: MediumSpringGreen;
}
#greencolor{
  background-color:green;
}
#deepbluecolor{
  background-color:deepskyblue;
}
#bluecolor{
  background-color:blue;
}
#mediumpurplecolor{
  background-color:mediumpurple;
}
#purplecolor{
  background-color:purple;
}
#blackcolor{
  background-color:black;
}
#greycolor{
  background-color:grey;
}
#whitecolor{
  background-color:white;
}


#currentblock{
  font-size:1.5em;
}

#currentText{
  margin-bottom:10px;
}
.currentcolor{
  width:25px;
  height:25px;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;

}
